{
    "accessToken": "ACCESS TOKEN HERE",
    "verifyToken": "VERIFY TOKEN HERE",
    "pageToken": "FACEBOOK PAGE TOKEN HERE",
    "graphSendUrl": "https://graph.facebook.com/v2.6/me/messages?access_token={}",
    "graphProfileUrl": "https://graph.facebook.com/v2.6/{}?fields=?fields=first_name,last_name,locale,timezone,gender&access_token={}",
    "graphConfigUrl": "https://graph.facebook.com/v2.6/{}/thread_settings?access_token={}"
}
